.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
}

.navbar:before {
  content: "";
  z-index: 4;
  position: absolute;
  top: -25%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 150px;
  filter: blur(220px);
  opacity: 70%;
  transition: all 0.3s;
  border-radius: inherit;
}

@media screen and (max-width: 500px) {
  .navbar:before {
    top: 2rem;
  }
  .navLinks {
    flex-direction: column;
  }
}

.navbar::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  background: linear-gradient(
    45deg,
    #e60073 0%,
    #ff1493 16.66%,
    #ff4500 33.33%,
    #ff8c00 50%,
    #ffd700 66.66%,
    #00ff00 83.33%,
    #0000ff 100%
  );
  border-radius: 0 0 8px 8px;
  z-index: 4;
}
